MDB_MCP_API_CLIENT_ID=mdb_sa_id_6a2308ed12f532793d6507e8
MDB_MCP_API_CLIENT_SECRET=sk_eZBa9AOAwSQXswIpVRJk55jnZW8c7z96ysON7Z4f
GOOGLE_CLOUD_PROJECT=your-gcp-project-id  # e.g. qnsult
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=true
